extends ../../templates/base_template.pug

append vars
    -var showFooter = true
    -var bodyCls = "fill-height"

append body
    .theme-bgcolor.white-color.fill-both.flex-row.flex-align-center.flex-justify-center
        h2 #{page_title}
        #err #{validation_errors}

        form(method="post", action=page_action)
            .form-group
                label.form-label(for="email") Email
                input.form-input(type="email", name="email", maxlength="50", autocomplete="off", value=email)
            .form-group
                label.form-label(for="pass") Password
                input.form-input(type="password", name="password", maxlength="30", autocomplete="off")
            input.btn.white-bgcolor(type="submit", value="Login")

        //-a(href=baseUrl, title="Home") Home